[uwsgi]
http-socket=0.0.0.0:8080
master=true
wsgi=trytond.application:app
processes=4
threads=8
master=True
pidfile=/tmp/uwsgi.pid
vacuum=True
env=TRYTOND_CONFIG=/server/gnuhealth/tryton/server/config/trytond.conf
env=LANG=en_US.UTF-8
